.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.article img {
  height: 15rem;
}

.article-detail img {
  height: 20rem;
}

.profile-image {
  width: 140px;
  height: 140px;
  display: grid;
  place-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.content-center {
  display: grid;
  place-items: center;
}
